#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .headline-1 {
    font-size: 35px;
    font-weight: medium;
    text-align: left;
    color: rgb(20, 20, 20);
    line-height: 1.25;
    padding-bottom: 20px;
  }

  .headline-2 {
    font-size: 35px;
    font-weight: medium;
    text-align: left;
    color: rgb(20, 20, 20);
    line-height: 1.25;
    padding: 0px;
    margin: 0px;
  }

  @media (max-width: 767px) { 
    .headline-2 {
      font-size: 1.5rem; /* Decrease the font size for smaller screens */
    }
  }

  .tag{
    font-family: 'Fragment Mono', monospace;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: rgb(20, 20, 20);
    line-height: 1.25;
    padding: 0px;
    margin: 0px;
  }

  .info{
    font-family: 'Fragment Mono', monospace;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: rgb(109, 109, 109);
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
  }

  .material-symbols-outlined {
    text-decoration: none;
    font-size: 19px;
    vertical-align: middle;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
  }

  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-size: 24px;
    color: black;
  }
  